@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Job_Portal</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center"><h2>What are Recruitment Portals?</h2>
<p>Recruitment portals, also known as job boards, are websites or software that can simplify the hiring process for human resources 
managers and recruiters. These portals let recruiters post job advertisements with custom application questions and efficiently search
for candidates and resumes.</p>
</div>
<div>Some recruitment portals allow even more customization by helping companies target internal and external job postings. External
    job postings are open to the public, while internal job postings circulate within a company or organization. This gives existing
    employees opportunities to switch departments, take on another role or advance their careers.</div>

<div class="text-center"><h3>Why use Recruitment Portals?</h3>
<p>Many companies use job portals because they often support advanced filtering systems based on job requirements and applicants' 
credentials, limiting the workload of the recruiter. These portals organize and keep a record of the best candidates for your company, 
and they can help companies promote their specific brand through job postings. People can familiarize themselves with the company
this way and might be curious to learn more about the company.</p>
</div>
<div>Candidates can search for a company's background, such as work culture and career growth opportunities, before applying for a 
    position. Similarly, candidates often use job portals because they host a lot of job opportunities and privately store personal 
    information like resume details and contact information.</div>