@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="display-4">Applicant and Candidate Privacy Policy</h1>
    <p>What information we collect during our application and recruitment process and why we collect it;</p>
    <p>Your use of Google services is governed by any applicable terms and our general Privacy Policy.</p>

<div class="text-center">
        <h2>Types of information we collect</h2>
        <p>Your name, address, email address, telephone number and other contact information;</p>
        <p>Your resume or CV, cover letter, previous and/or relevant work experience or other experience, education, transcripts, or other information you provide to us
            in support of an application and/or the application and recruitment process;</p>
        <p>Details of the type of employment you are or may be looking for, current and/or desired salary and other terms relating to compensation and benefits packages,
            willingness to relocate, or other job preferences;</p>
        <p>Reference information and/or information received from background checks (where applicable), including information provided by third parties;</p>
        <p>Your information from publicly available sources, including online, that we believe is relevant to your application or a potential future application
            (e.g. your LinkedIn profile);</p>
</div>
<div class="text-center">
        <h2>Changes to this Policy</h2>
        <p>We may change this policy from time to time. We will post any changes to this policy on this page.</p>
</div>
