
@{
    ViewData["Title"] = "Terms_Condition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center"><h1>Terms & Condition</h1>
<p>These Terms and Conditions and the Privacy Policy Statement which are hereby incorporated as if set forth fully herein, represent the complete agreement between you and 
    the Company for the use of and access to the Services and/or other contents of the Job Portal.</p>
<p>The job portal reserves the right to decline service/registration to any person at any point of time without giving any prior notice. It is clarified that registering 
    with the portal does not guarantee employment.</p>
<p>The job portal authorizes the User to view and access the content available on or from the Job Portal solely for their personal use. The contents of the Job Portal and 
    of all other websites, whether partial or otherwise such as text, graphics, images, logos, button icons, software and other contents as well as compilation of contents
    (i.e. the collection, arrangement and assembly), are property of the job portal . Unauthorized use of such Content will be violation of copyright and other intellectual
    property rights of the job portal. The User may not sell or modify the said content or reproduce, display, publicly perform, distribute, or otherwise use such content in
    any way for any public or commercial purpose. The use of the job portal’s content on any other web site or in a networked computer environment for any purpose is
    prohibited.</p>
    <p>The User shall be solely responsible for maintaining the confidentiality of their account and passwords. The User shall be solely responsible for all activities 
     happening under his/her username whether authorized or not. The User agrees to immediately notify the Company of any unauthorized use of his Account and Password.</p>
    <p>The job portal reserves the right to modify, suspend, cancel, discontinue or terminate the services of the Job Portal or reject any or all entries/blogs at their
     absolute discretion without giving any prior notice and without assigning any reason whatsoever to the User and without any liability to the job portal.</p>

    </div>

<div class="text-center" ><h2>Purpose of the Job Portal:</h2>
    <p>The purpose of the job portal is to reduce the job search gap between technical freshers, students of passed out Diploma or Bachelor, Master with Technical Degrees 
        and Companies who recruit technical freshers and Experience also Companies recruit Non-IT or Non technical background .</p>
</div>



